<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/Normalize.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Base</title>

</head>



<body id="home">
        <div>
            <div class="cabeçalho">
                <img src="../static/imagens/logo.png" alt="logo" id="logo">
                <div class="atalhos">
                <a href="/" target="_self">Home</a> /
                <a href="/quemsomos" target="_self">Quem somos</a> /
                <a href="/contatos" target="_self">Contato</a>
                <a href="/users">Usuários</a>
                </div>
            </div>
{% block conteudo %}       
        

{% endblock %}
       
        <div>
            <h4 class="final">Todos os direitos reservados</h4>
        </div>

    
</body>
</html>