{% extends 'templates/base.html %}

{% load static %}

<img src="imagens/capa.png" alt="capa" id="capa">
    
        <div>
            <h1> Sobre a Universidade</h1>
            <p> 
            Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Fugiat dolores animi suscipit quaerat rerum voluptatem nam expedita accusantium, harum necessitatibus maxime nemo qui voluptate veritatis eius! Quas esse ea ipsum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam ipsa nulla inventore officiis quidem perferendis, voluptas magni omnis odit magnam quis nesciunt sequi quas quia aspernatur nihil rem soluta! Illo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt expedita corporis consequatur itaque distinctio optio at cupiditate fugiat eligendi. Rem exercitationem quisquam fuga iure expedita praesentium. Odio cupiditate quasi possimus.
            </p>
            <p>
            Lorem, <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Eum iusto delectus perspiciatis dolore maxime quo, placeat velit consectetur illo cupiditate consequuntur laudantium fugiat veniam, quod, vero vitae facere autem rerum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est dicta necessitatibus reprehenderit eveniet dolorem, recusandae maiores laboriosam quasi doloribus saepe voluptatibus cupiditate ab, earum, odio tempora temporibus illo vitae accusamus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, harum accusamus. Soluta iusto, itaque illum, distinctio commodi quidem vero animi est ipsam optio, quo saepe unde necessitatibus deserunt dolor doloremque.
            </p>
        </div>

{% extends 'templates/base.html %}