{% extends 'base.html' %}

{% block conteudo %}

        <h1>Quem somos</h1>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta officia quaerat officiis maxime iure asperiores, adipisci pariatur atque consequuntur incidunt consectetur explicabo nam? Sapiente sint facilis facere, asperiores quod adipisci.
        </p>
        <h1>5 motivos para estudar</h1>
        <ol>
            <li>Material sempre atualizado</li> 
            <li>Tablets em sala </li> 
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização </li>
        </ol>
            <hr>

        <h1>Objetivos</h1>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, porro odit nesciunt quae quia vel velit est reiciendis dolorem sequi, perspiciatis voluptas pariatur amet temporibus eligendi in odio facilis ipsa.

{%endblock%}
